services:
  ollama:
    image: ollama/ollama:latest
    ports:
      - 127.0.0.1:11434:11434
    environment:
      - OLLAMA_HOST=0.0.0.0:11434
    volumes:
      - ollama_data:/root/.ollama
    devices:
      - ${OLLAMA_GPU_DEVICE_MAP:-nvidia.com/gpu=all}
    security_opt:
      - label=disable
    restart: unless-stopped
    networks:
      - ollama_net

  open-webui:
    image: ghcr.io/open-webui/open-webui:main
    depends_on:
      - ollama
    ports:
      - 127.0.0.1:${OPEN_WEBUI_PORT:-3000}:8080
    environment:
      - OLLAMA_BASE_URL=http://ollama:11434
    volumes:
      - open_webui_data:/app/backend/data
    security_opt:
      - label=disable
    restart: unless-stopped
    networks:
      - ollama_net

volumes:
  ollama_data:
  open_webui_data:

networks:
  ollama_net:
    name: ollama_net
    external: true
